html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-size: 0;
  background-color: #263238;
}

canvas {
  transition: transform 0.8s;
  background-color: #635959;
  border: 5px solid;
  border-left-color: #aac378;
  border-right-color: #aac378;
  border-top-color: #c378c1;
  border-bottom-color: #c378c1;
}
.animate {
  transition: transform 0.8s;
}